<html>
  <head>
    <title>Recognize and classify F1 Cars</title>
  </head>
  <body>
    </body>
    <h1>Recognize and classify F1 Cars</h1>
    <h2>Choose image/video file using form below</h2>
    <form action="/predict" enctype="multipart/form-data" method="POST">
      <input name="file" type="file" />
      <input type="submit" value="Predict"/>
    </form>
    <a href="/healthcheck">Check API health</a>
    <p>Check API documentation: <a href="/docs">Swagger</a>, <a href="/redoc">ReDoc</a></p>
  </body>
</html>