<html>
  <head>
    <title>Rendering Dynamic Images Using FastAPI</title>
  </head>
  <body>
    <a href="/">Return to the main page</a>
    {% if is_image == 1 %}
    <h1>Rendered Media - Image</h1>
      <img src="{{ url_for('static', path=content_filepath) }}" />
    {% endif %}
    {% if is_video == 1 %}
    <h1>Rendered Media - Video</h1>
    <video width="640" height="320" src="{{ url_for('static', path=content_filepath) }}" type='video/mp4'>
      Your browser does not support the video tag.
    </video>
    {% endif %}
  </body>
</html>